h1{font-size: 40px;}
h2{color: black;}

.head1{font-size: 40px;}

.heading1{color: red;}

#head1{color: blue;}
h3{font-size: 40px;}

p{font-size: 25px;}

/*  */

p1{color: rgba(24,44,555,.8);}
p1{font-size: 25px;}
p2{clor: #F08080;}
p2{font-size: 25px;}
